.delete-listing__form {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  text-align: center;
  padding: 10px;
}

.delete-listing__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}

.delete-listing__btn {
  margin: 2em 3em .5em;
  color: white;
  background-color: rgb(255, 104, 104);
}