.login-btn__modal {
  margin-right: 2em;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
  position: absolute;
  background-color:white;
}

#signupmodalform {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  min-width: 30em;
  min-height: 22em;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
}

#inputusername {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#inputemail {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#inputpassword1 {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#inputpassword2 {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#btnlogin {
  background-color: white;
  margin-right: 10px;
}

#signupheader {
  padding: 10px;
  font-size: x-large;
  font-weight: 700;
  color: rgb(255, 104, 104);
}