.listing-form__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50em;
  /* margin: 3em; */
}
  
.listing-link__container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.listing-link__image {
  border-radius: .50em;
  border: .5px solid #C8C8C8;
}

.listing-form__image-title {
  text-align: center;
}

.listing_link_input {
  padding: 1em;
  width: 75%;
  padding: 1em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  margin-top: 10px;
}

.listing_link_input:focus {
  outline: none;
}

.listing-link__button-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  margin-bottom: 3em;
  min-width: 50%;
  align-self: center
}

.remove-listing-link-listing__button {
  position: absolute;
  padding: .75em;
  right: 1.85em;
  border-radius: .5em;
}

.listing-link__button {
  min-width: 20%;
  border-radius: 10px;
  background-color: rgb(255, 112, 112);
  color: white;
}

.listing-link__button:hover {
  min-width: 20%;
  border-radius: 10px;
  color: rgb(255, 112, 112);
  background-color: white;
}
  