.photo__carousel {
    display: flex;
    justify-content: center;
    border-radius: .6em;
    overflow: hidden;
  }
  
  .photo__carousel > .slide {
    height: 25em;
  }
  
  .photo__carousel .slide img {
    max-height: 100%;
    width: auto;
  }
  
  .photo__carousel .image {
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  