.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;

    margin-top: 120px;
}

.profile-container {
    width: 50%;
    height: 100%;
}
.profile-container > h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.profile-info {
    display: flex;
    max-height: 100%;
}

.list-title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.review-container {
    width: 50%;
    margin-right: 5%;
}
.review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    overflow-y: auto;
}
.individual-review-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 15px 2px 15px;
    width: 90%;

    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.individual-review-title {
    font-size: 18px;
}

.booking-container {
    width: 50%;
}
.booking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    overflow-y: auto;
}
.individual-booking-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 15px 15px 15px;
    width: 90%;

    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.individual-booking-info {
    display: flex;
}
.individual-booking-info > p {
    margin-top: 5px;
    margin-bottom: 15px;
}
.individual-booking-info-dates-title {
    margin-right: 5px;
}
.individual-booking-info-dates-start {
   margin-right: 30px;
}

.individual-booking-edit-button {
    width: 90%;
}
#individual-booking-edit-button {
    margin-bottom: 15px;
}
.individual-booking-edit-button > button {
    margin-right: 15px;
    padding: 5px 15px 5px 15px;

    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 50px;
    transition: box-shadow .2s ease;
}
.individual-booking-edit-button > button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.individual-booking-label {
    margin-right: 30px;
}
.individual-booking-input {
    margin-left: 5px;
}
