* {
    margin: 0;
  }
  
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
  
code {
  font-family: "Courier New",
    monospace;
}