.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: 800;
    color: #FF5A5F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}




.nav_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8%;
    width: 70px;
    height: 40px;
    border: 0;
    color: rgb(2, 2, 2);
    border-radius: 80px;
    cursor: pointer;
    background: white;
    border: #5a5959 solid 1.5px;
    gap: 5px;
}

#avi {
    display: flex;
    height: 25px
}
