.navButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8%;
  width: 70px;
  height: 40px;
  border: 0;
  color: rgb(2, 2, 2);
  border-radius: 80px;
  cursor: pointer;
  background: white;
  border: #5a5959 solid 1.5px;
  gap: 5px;
}

.profcontainer {
  margin-right: 30px;
}

.navButton:hover {
  background-color: rgb(255, 85, 85);
}

.navButton:active {
  background: #ffffff
}

.navbar__profilebutton {
  background-color: white;
  border: #E2E2E2 1px solid;
  border-radius: 1.5em;
  padding: .5em 3em .3em .7em;
  transition: box-shadow .3s;   
}
  
.navbar__profilebutton:hover{
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
}
  
.navbar__threelines {
  font-size: 1.5em;
}
  
.navbar__profile-dropdown {
  border: #E2E2E2 1px solid;
  border-radius: .5em;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  position: absolute;
  right: 6.5em;
  top: 3.5em;
  background-color: white;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
  
.navbar__dropdown-links,
.navbar__user-info {
  padding: 1em;
  padding-right: 6em;
  font-family: 'Montserrat', sans-serif;
  font-size: .85em;
  font-weight: 400;
  text-decoration: none;
  color: #474747;
}

.navbar__underline {
  border-bottom: #E2E2E2 1px solid;
}
.navbar__dropdown-links:hover{
  background-color: #F6F6F6;
}

.navbar__dropdown--nav {
  color: black;
  font-weight: 600;
}

.navbar__dropdown--nav:visited {
  text-decoration: underline;
  color: black;
}

.navbar__dropdown-links-logout:hover {
  cursor: pointer;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.logoutbutton {
  display: flex;
  align-items: center;
  border-radius: 1px;
  background-color: #FF5A5F;
  color: white;
}

.nav_right {
  display: flex;
  align-items:flex-end;
}

#avi {
  display: flex;
  height: 25px
}