.login-btn__modal {
  margin-right: 2em;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
  position: absolute;
  background-color:white;
}

#loginmodalform {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  min-width: 30em;
  min-height: 17em;
  background-color: white;
  border: solid 1px black;
}

#inputusernamelogin {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#inputpasswordlogin {
  margin: .25em;
  padding: 1em;
  min-width: 23em;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
  text-align: left;
}

#btnlogin {
  min-width: 20%;
  max-width: 100%;
  margin: 2em 3em .5em;
  color: white;
  background-color: rgb(255, 104, 104);
}

#btnlogin:hover {
  min-width: 20%;
  max-width: 100%;
  margin: 2em 3em .5em;
  color: rgb(255, 104, 104);
  background-color: white ;
}

.demobutton {
  background-color: white;
  margin-right: 10px;
  min-width: 20%;
  margin: 1em 3em .5em;
}

.demobutton:hover {
  background-color: rgb(255, 227, 104);
  margin-right: 10px;
  min-width: 20%;
  margin: 1em 3em .5em;
}

#loginheader {
  padding: 10px;
  font-size: x-large;
  font-weight: 700;
  color: rgb(255, 104, 104);
}